/* improved for chat text box */

.camp {
    transition: transform 0.1s;
}

.camp:hover {
    transform: scale(1.03);
}

.battle-phase {
    position: fixed;
    top: 80px;
    justify-content:center;
    z-index: 1000;
}

.character-panel {
    position: fixed;
    top: 100px;
    left: 8px;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
}

.richtext-conteiner {
    z-index: 500;
    top: 100px;
}

#mam {
    margin-left: auto;
}

@media (max-width: 2189px) {
    #mam {
        margin-left: 410px;
    }
}

@media (max-width: 1919px) {
    #mam {
        margin-left: auto;
    }

}


