/* improved for chat text box */

.camp {
    transition: transform 0.1s;
}

.camp:hover {
    transform: scale(1.03);
}


.character-panel {
    position: fixed;
    top: 100px;
    left: 8px;
    width: 310px;
    height: 100%;
    overflow-y: scroll;
}

#mam {
    margin-left: auto;
}

@media (max-width: 2189px) {
    #mam {
        margin-left: 320px;
    }
}

@media (max-width: 1919px) {
    #mam {
        margin-left: auto;
    }

}


