::deep .characters-drawer-btn {
    position: fixed !important;
    top: 72px;
    left: 8px;
    z-index: 1300;
    background-color: #1a1a1a !important;
    color: #f5f5f5 !important;
}

::deep .characters-drawer-btn:hover {
    background-color: #333 !important;
}

.character-panel {
    position: fixed;
    top: 100px;
    left: 8px;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
}

#mam {
    margin-left: auto;
}

@media (max-width: 2189px) {
    #mam {
        margin-left: 410px;
    }
}

@media (max-width: 1919px) {
    #mam {
        margin-left: auto;
    }
}
