@page "/"

<PageTitle>Dagonite Empire</PageTitle>

<header class="hero-img" id="home">
    <div class="hero-text text-center">
        <h1 class="text" >Welcome to <span class="text blue-text">Dagonite Empire!</span></h1>
    </div>
    <div class="hero-shadow"></div>

</header>
@* 
<h1>Welcome to Dagonite Empire!</h1> *@


