.fight-result-editor ::deep .ql-container {
    min-height: 160px;
    max-height: 280px;
}

.fight-result-editor ::deep .ql-editor {
    min-height: 120px;
    max-height: 240px;
    overflow-y: auto;
    cursor: text;
}
