body {
}

.main-table {
    display: flex;
    flex-direction: column;
}

.bonuses-columns{
    display:flex;
    flex-direction:row;

}

.bonus-name {
    padding: 5px 5px 5px 0px;
}
.bonus-descr {
    padding: 5px 5px 5px 0px;
}

.bonus-cell {
    width: 33.3%;
    padding: 5px 5px 5px 0px;
}
.bonus-double-cell {
    width: 66.6%;
    padding: 5px 5px 5px 0px;
}

.add-bonus-button {
    width: 28px;
    height: 28px;
    padding: 4px 0px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 5px;
}

.warnign-message{
    color: red;
}


.short-screen-table {
    display: none;
}

.wide-screen-table {
    display: block;
}



@media (max-width: 600px) {

    .short-screen-table {
        display: block;
    }

    .wide-screen-table {
        display: none;
    }
    .bonuses-columns {
        flex-direction: column;
    }
    .bonus-cell {
        width: 100%;
    }
    .bonus-double-cell {
        width: 100%;
    }
}