/* improved for chat text box */

.camp {
    transition: transform 0.1s;
}

.camp:hover {
    transform: scale(1.03);
}


.big-screen {
}

.small-screen {
    display: none;
}

.character-panel {
    position: fixed;
    top: 150px;
    left: 8px;
    width: 400px;
    height: 100%;
    display: block;
}

#mam {
    margin-left: auto;
}

@media (max-width: 2040px) {
    #mam {
        margin-left: 410px;
    }
}

@media (max-width: 1740px) {
    #mam {
        margin-left: auto;
    }
    .character-panel {
        display:none;
    }
}

    @media (max-width: 600px) {
        .big-screen {
            display: none;
        }

        .small-screen {
            display: block;
        }


    }

