/* improved for chat text box */

.camp {
    transition: transform 0.1s;
}

.camp:hover {
    transform: scale(1.03);
}


.big-screen {
}

.small-screen {
    display: none;
}


@media (max-width: 600px) {

    .big-screen {
        display: none;
    }

    .small-screen {
        display: block;
    }
}

