<div class="d-flex flex-grow-1">
    @if (Editable)
    {
        <div class="row">
            <div class="col-3">
                <MudNumericField @bind-Value="Date.Day" Label="Day" Variant="Variant.Text" Min="1" Max="31"/>
            </div>
            <div class="col-6">
                <MudSelect @bind-Value="Date.Month" Variant="Variant.Text" Label="Month">
                    @foreach (var month in SD.Calendar.Months)
                    {
                        <MudSelectItem Value="@month.Number">@month.Name</MudSelectItem>
                    }
                </MudSelect>
                </div>
            <div class="col-3">
                <MudNumericField @bind-Value="Date.Year" Label="Year" Variant="Variant.Text" Min="625" Max="1000" />
            </div>
        </div>
    }
    else
    {
        <MudText Style="font-size:inherit;">@Date.ToString()</MudText>
    }
</div>


@code {
    [Parameter]
    public DateModel Date { get; set; }
    [Parameter]
    public bool Editable { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
      
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
             
                StateHasChanged();
            }
            catch (Exception ex)
            {
                ;                
            }
        }
    }
}