.profession {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-row {
    font-size: 13px;
    text-align: left;
    padding: 2px;
    vertical-align: middle;
}

.name-row {
    font-size: 16px;
    width: 40px;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}
td {
    font-size: 16px;
    padding: 1px;
    margin: 0px;
    text-align: center;
}

.name-label {
    text-align: center;
    font-size: 16px;
}
.prof-name-label{

}

.add-trait {
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 14px;
    padding: 2px 16px;
}

.prof-descr-label {
    width:100%;
    padding: 2px 0px 2px 0px;
}
