.traits {
    width: 450px;
    padding: 0 10px 10px 10px;
}

    .traits .name-row {
        width: 80px;
    }

    .traits .name-label {
        font-size: 13px;
    }

.description-row {
    font-size: 13px;
    text-align: left;
    padding: 2px;
    vertical-align: middle;
}

.action-row {
    font-size: 13px;
    width: 65px;
    padding: 2px;
}

.trait-value-row {
    font-size: 13px;
    width: 50px;
    padding: 2px;
}

.add-trait {
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 14px;
}
.name-row {
    font-size: 13px;
    width: 40px;
    text-align: left;
    padding: 5px;
    vertical-align: middle;
}
td {
    font-size: 16px;
    padding: 1px;
    margin: 0px;
}