<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		internalLogLevel="Info"
		internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="logfile" xsi:type="File" fileName="d:\DagLogs\nlog-all-${shortdate}.log" 
				layout ="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${message} ${exception:format=tostring}"/>
		<target name="exceptions" xsi:type="File" fileName="d:\DagLogs\nlog-all-exceptions-${shortdate}.log"
				layout ="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="DagoniteEmpire.*" minlevel="Error" writeTo="exceptions" />
		<!--<logger name="*" minlevel="Debug" writeTo="logfile" /> -->
	</rules>
</nlog>