
.big-screen {
    padding: 0;
    margin: 0;
}

.small-screen {
    padding: 0;
    margin: 0;
    display: none;
}


.chatboxes {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 600px;
    z-index: 6000;
}

.chatbox {
    width: 310px;
    height: 600px;
    margin: 0 4px 0 4px;
    padding: 0;
}

.chat-show {
    position: fixed;
    top: 70px;
    right: 0px;
    z-index: 1000;
}

@media (max-width: 400px) {
    .chatboxes {
        display: none;
    }

    .small-screen {
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 64px;
        right: 0px;
        width: calc(100% - 64px);
        height: 100vh;
        z-index: 6000;
    }
}

