.text {
    display: flex;
    flex-direction: column;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a{
    color:white;
    text-decoration:none;
}

.text{
    transition: 1s;
}

.tile {
    transition: 0.3s;
    padding:6px 4px;
}

.tile:hover {
    background-color: #444444;
}