
<AuthorizeView>
    <Authorized>
        <div class="text">
            @context.User.Identity.Name

            <a class="logout tile" href="Identity/Account/Logout">Logout</a>
        </div>

    </Authorized>
    <NotAuthorized>
         <div class="text">
            <a class="register tile" href="Identity/Account/Register">Register</a>
            <a class="login tile" href="Identity/Account/Login">Login</a>
        </div>
    </NotAuthorized>

</AuthorizeView>



@code {

}
