@inherits LayoutComponentBase

<PageTitle>DagoniteEmpire</PageTitle>

<div class="page">

    <NavMenu />
    

    <main>
        <article class="">
            @Body
        </article>
    </main>
</div>
