@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DagoniteEmpire</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@

@*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-row">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bind Properties
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="learnBlazor/demoProduct">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Demo Product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learnBlazor/parentComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parent/Child Relation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learnBlazor/learnRouting">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Learn Routing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learnBlazor/blazorJs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Blazor Js
            </NavLink>
        </div>
        
        <AuthorizeView Roles="@AdminRole"> 

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="character">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Category
                </NavLink>
            </div>
         </AuthorizeView> 
    </nav>
</div>
*@

<nav class="navbar navbar-expand-lg position-sticky top-0">
    <div class="container">
        <a class="navbar-brand" href="#">Dagonite Empire</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="Dagonite Empire" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @* <AuthorizeView Roles="@LoggedRole"> *@
                    <li class="nav-item  px-3">
                        <NavLink class="nav-link" href="character">
                            <span class="oi oi-list-rich top-0" aria-hidden="true"></span> Character sheets
                        </NavLink>
                    </li>
                @* </AuthorizeView> *@
            </ul>
        </div>
    </div>
</nav>

@code {
    private string AdminRole = DA_Common.SD.Role_Admin;
    private string LoggedRole = DA_Common.SD.Role_Admin + "," + DA_Common.SD.Role_Admin + "," + DA_Common.SD.Role_Admin;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
