body {
}


.bonus-cell {
    width: 20px;
}

h3 {
    color:black
}

.bonus-row{
    width:20px;
    font-size: 13px;
    text-align: left;
    padding:5px;
}
.name-row {
    font-size: 13px;
    text-align: left;
    padding: 5px;
}

td {
    font-size: 16px;
    padding: 2px 2px 2px 2px;
}

.names-label{
    font-size: 13px;
    text-align:left;
    text-anchor: start;
}

::deep .bonus-control {
    font-size: 12px;
    width: 50px;
    text-align: center;
    margin-left: 0px;
    padding: 4px 0px 4px 0px;
}

.attribute{
    width:420px;
}
.baseskills{
    width:360px;
}
.portrait{
     width: 330px;
     height: 380px;
     padding-left: 3px;
     padding-right: 3px;
}

.portrait-image {
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 10px;
    padding-bottom: 40px;
    border: 2px solid darkgrey;
    width: 310px;
    height: 310px;
    font-size: 12px;
    border-radius: 15px;
    overflow: hidden;
    align-content:center;
}
.portrait img {
    position: relative;
    width: 100%;
}
i:hover{
    transform:scale(1.2)
}
i:active {
    transform: scale(0.9)
}

.portrait-input {
    position: absolute;
    width: 139px;
    font-size: 14px;
    padding-bottom: 6px;
    padding-left: 20px;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

/*InputFile {
    font-size: 14px;
    width: 100%;
}*/

::deep .points-avalible {
    width: 100px;
    text-align: right;
}

.attribute .attr-control {
    padding: 22px 0 22px 0;

}

/*arrows*/
.attr-control {
    display: flex;
    flex-direction: row;
    /*margin: 2px 4px 2px 4px;*/
    margin-left: 8px;
    width: 40px;
    height: 30px;
    justify-items: right;
    align-items: center
}

.points-control {
    display: flex;
    flex-direction: row;
    margin-top:3px;
    margin-bottom:3px;
    height: 50px;
    font-weight: bold;
    justify-items: left;
    align-items: center
}

.points-label{
    text-align: left;
    font-size:16px;
    font-weight:bold;
    width:80%;
}

.points-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    width: 55px;
    height: 40px;
    margin-right: 2px;
}

.attr-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-size: 12px;
    border-radius: 4px;
    width: 100%;
    height: 27px;
    margin-right: 2px;
    /* height: 20px;*/
}

.arrows {
    display:grid;
    padding: 0px;
    margin:0px;
    margin-top:2px;
}

.attr-carret {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    margin-top:0px;
    height:15px;
    font-size: 14px;
    color:dimgray;
    border: 0px solid gray;
    background-color: transparent;
    text-align:start;
}



