.page {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.border {
    border: 1px solid rgb(72, 69, 69);
    border-radius: 10px;
    margin: 6px;
    padding:0 6px 0 6px;
}

.save-btn {

    position: fixed;
    top: 80px;
    right: 80px;
    z-index: 1000;
}

.char-header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.bonus-cell {
    width: 20px;
}

h3 {
    color: black;
    font-family: 'Eagle Lake', serif;
}

.bonus-row {
    width: 18px;
    font-size: 13px;
    text-align: left;
    padding: 2px;
    vertical-align: middle;
}
.sum-row {
    width: 14px;
    font-size: 13px;
    text-align: left;
    padding: 2px;
    vertical-align: middle;
}
.name-row {
    font-size: 13px;
    width: 40px;
    text-align: left;
    padding: 2px;
    vertical-align: middle;
}

.char-title{
    text-transform:uppercase;
}


td {
    font-size: 16px;
    padding: 1px;
    margin: 0px;
}

.names-label{
    font-size: 13px;
    text-align:left;
    font-weight:bold;
    text-anchor: start;
}

::deep .bonus-control {
    font-size: 12px;
    width: 50px;
    text-align: center;
    margin-left: 0px;
    padding: 4px 0px 4px 0px;
}

.attribute {
    width: 330px;
    position: relative;
}
.baseskills {
    width: 400px;
    position: relative;
}


.description {
    display: flex;
    flex-direction: column;
    width: 450px;
    position: relative;
}

.portrait {
    width: 330px;
    position: relative;
}

.sheet-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10;
}

.stretch {
    width: 100%;
    height: 100%;
    z-index: -20;
}

.portrait-imageframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid RGB(206 212 218);*/
    border-radius: 4px;
    /*width: 320px;*/
    height: 390px;
    font-size: 12px;
    overflow: hidden;
    align-content: center;
}
.portrait-image {
    display: flex;
    width: 100%;
    max-height: 93%;
    border: 0px solid white;

}
.portrait-input {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    z-index: 1000;
}
.sr-only {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.input-label {
    position:absolute;
    width: 250px;
    height: 300px;
    padding: 30px;
    text-align: center;
    align-content:center;
    background-color: transparent;
    color: black;
    border: none;/* 1px solid RGB(206 212 218);*/
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    top: 110px;
    left: 0;
    right: 0;
    z-index: 1500;
}
.trait-container {
    padding: 0;
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    transition: transform 0.1s;
}
i:hover{
    transform:scale(1.2)
}
i:active {
    transform: scale(0.9)
}




::deep .points-avalible {
    width: 100px;
    text-align: right;
}

.attribute .attr-control {
    padding: 2px 0 2px 0;

}

.attribute .name-row {
    border: 0px solid black;
    padding: 2px;
    letter-spacing: 1px;
}


.attribute td {
    padding: 2px;
}


.attribute .names-label {
    width: 100%;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    text-anchor: start;
}

/*arrows*/
.attr-control {
    display: flex;
    flex-direction: row;
    /*margin: 2px 4px 2px 4px;*/
    /*margin-left: 2px;*/
    width: 40px;
    height: 30px;
    justify-items: right;
    align-items: center
}
.attr-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-size: 12px;
    border-radius: 4px;
    width: 100%;
    height: 28px;
    margin-top: 0px;
    margin-right: 2px;
}
.arrows {
    display: grid;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
}

.attr-carret {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    margin-top: 0px;
    height: 18px;
    width: 18px;
    font-size: 18px;
    color: dimgray;
    border: 0px solid gray;
    background-color: transparent;
    text-align: start;
}


.points-control {
    display: flex;
    flex-direction: row;
    margin-top:3px;
    margin-bottom:3px;
    height: 50px;
    font-weight: bold;
    justify-items: left;
    align-items: center
}

.points-label{
    text-align: left;
    font-size:16px;
    font-weight:bold;
    width:80%;
}

.points-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    width: 55px;
    height: 40px;
    margin-right: 2px;
}




.specialskills {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:0px;
}

.specialskills-table{
    position:relative;
    width: 460px;
    padding: 10px;
    border-radius: 6px;
}

.specialskills-control {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 50px;
    font-weight: bold;
    justify-items: left;
    align-items: center;
    text-transform: uppercase;
}
.specialskills-label {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Eagle Lake', serif;
    flex: 8;
}

.specialskills-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    width: 55px;
    height: 40px;
    margin-right: 8px;
    flex: 1;
}


.specialskills-table table {
    table-layout: fixed;

}

.specialskills-table .skillname-row {
    width: 40px;
}
.specialskills-table .names-label {
    width: 60px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    text-anchor: start;
}
.specialskills-names-input {
    width: 60px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    text-anchor: start;
    border: 1px solid gray;
    border-radius: 5px;
}

.add-skill {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
}


.attr-control {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .attr-indicator {
    width: 28px;
}


.rel-attr-row {
    width: 30px;
    padding:2px;
    text-align:center;
    font-size: 13px;
}

.attr-mod-row {
    width: 14px;
    font-size: 13px;
    padding:2px;
}

.attribute-selector {
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}


.traits {
    width: 450px;
    position: relative;
}

.races {
    width: 450px;
    position: relative;
}

.profession {
    width: 450px;
    position: relative;
}

.equipment {
    width: 450px;
    max-height: 500px;
    position: relative;
}

.specialskills .name-row {
    display: none;
}

.specialskills .skillname-row {/*
    display: inline-block;
    font-size: 13px;
    width: 40px;*/
    text-align: left;
    padding: 2px;
    vertical-align: middle;
}

.specialskills .names-label {
    width: 100%;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    text-anchor: start;
}

.specialskills .name-td-big {
}
.specialskills .name-td-small {
    display: none;
}

.table tr th {
    /*border-bottom: 1px solid black; */
}

.table tr td {
    /* border-bottom: 1px solid black;*/
}





@media (max-width: 400px) {
    .specialskills-table .skillname-row {
        display: none;
    }

    .specialskills .name-td-big {
        display: none;
        border: 0px solid black;
    }

    .specialskills .name-tr-small {
        display: block;
        width: 100%;
    }

    .specialskills .name-td-small {
        display: block;
        width: 250px;
        border: 0px solid black;
    }

    .e-dialog {
        width: 100% !important;
    }
    
}

.specialskills td {
}



