
.e-grid .e-toolbar .e-tbar-btn-text,
.e-grid .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
    font-family: 'Eagle Lake', serif;
}

.card-title{
    color: black;
    padding-left:8px;
}
