body {
}


.bonus-cell {
    width: 20px;
}

h3 {
    color:black
}
table-responsive{
    width: 300px;
}
table {
    width: 300px;
}

.Attribute-name-row {
    width: 20px;
}
.bonus-row{
    width:20px;
    font-size: 13px;
    text-align: center;
}
.attribute-row{
    width:20px;
}

td {
    font-size: 16px;
}

/*.input-bonus{
    font-size:14px;

}

.input-control {
    font-size: 10px;
}*/


