

.save-btn {
    position: absolute;
    top: 80px;
    right: 80px;
    z-index: 1000;
}
.down {
    top: auto;
    right: 50px;
    bottom: 50px;
}
.header-grid {
    font-weight: bold;
    padding: 4px;
    text-align: center;
    justify-content: left;
}
.on-top-dialog {
    z-index: 10000;
}