body {
}

.save-btn {
    position: absolute;
    top: 80px;
    right: 80px;
    z-index: 1000;
}
.on-top-dialog {
    z-index: 10000;
}

.down {
    top: auto;
    right: 50px;
    bottom: 50px;
}
.main-table {
    display: flex;
    flex-direction: column;
}

.bonuses-columns {
    display: flex;
    flex-direction: row;
}

.bonus-name {
    padding: 5px 5px 5px 0px;
}

.bonus-descr {
    padding: 5px 5px 5px 0px;
}

.bonus-cell {
    width: 33.3%;
    padding: 5px 5px 5px 0px;
}

.bonus-double-cell {
    width: 100;
    /*padding: 5px 5px 5px 0px;*/
}

.add-bonus-button {
    width: 28px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 5px;
}

.warnign-message {
    color: red;
}

.number-row {
    font-size: 13px;
    width: 45px;
    text-align: center;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}
.action-row {
    display:flex;
    flex-direction:row;
    font-size: 18px; 
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.name-row {
    font-size: 13px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}

.descr-row {
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}

.level-row {
    font-size: 13px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}

td {
    padding: 4px 2px;
}

.short-row {
    font-size: 18px;/*
    font-weight: bold;*/
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.smaller-text {
    font-size: 14px;
}

.e-richtexteditor .e-rte-toolbar .e-toolbar-multirow {
    margin-left: 2px;
    margin-right: 2px;
}


.short-screen-table {
    display: none;
    margin-bottom: 8px;
}

.wide-screen-table {
    display: block;
    margin-bottom:8px;
}

.class-section {
    padding: 10px 2px 4px 2px;
    font-size: 16px;
    font-weight: bold;
}

.column-section {
    text-align: center;
    vertical-align: middle;
    padding: 10px 2px 4px 2px;
    font-size: 16px;
    font-weight: bold;
}

.e-numeric.e-style .e-control.e-numerictextbox {
    font-size: 16px;
    font-weight: bold;
}

.e-control-wrapper.e-numeric.e-float-input.e-style.e-input-group .e-float-text.e-label-top {
    font-size: 16px;
    font-weight: bold;
}

.rel-attr {
    height: 30px;
    border: 1px solid RGB(206 212 218);
    border-radius: 4px;
}

.prof-variables {
    width: 100px;
    height: 32px;
    border: 1px solid RGB(206 212 218);
    border-radius: 4px;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.spell-type{
    width:200px;
}

.cell-small{
    width: 100px;
    padding: 4px;
}

.dense-numeric-field .mud-input-control-input-container .mud-input .mud-input-root {
    padding: 4px !important;
}

.dense-numeric-field .mud-input-control-input-container .mud-input-underline {
    margin-top: 0px !important;
}

.mud-input-control  .mud-input-control-input-container .mud-input .mud-input-text {
    margin-top: 0px !important;
}

.mud-input .mud-input-text .mud-input-underline .mud-shrink {
    margin-top: 0px !important;
}

.dense-numeric-field .mud-input mud-input-text .mud-input-underline .mud-shrink {
    margin-top: 0px !important;
}

@media (max-width: 800px) {
    .bonuses-columns {
        flex-direction: column;
    }

    .bonus-cell {
        width: 100%;
    }

    .bonus-double-cell {
        width: 100%;
    }

    .short-screen-table {
        display: block;
    }

    .wide-screen-table {
        display: none;
    }

    .prof-variables {
        width: 100%;
        height: 32px;
        border: 1px solid RGB(206 212 218);
        border-radius: 4px;
        padding: 2px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    .column-section {
        font-size: 13px;
        font-weight: bold;
    }

    .variables {
        width: 33%;
    }
}
